h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#7F8D0F; } 
a:visited { color:#7F8D0F; } 
a:active { color:#261F09; } 
a:hover { color:#342A0C; } 
#menu_46d16b a { text-decoration: none; }
#menu_46d16b_pane { background-color: #AA8150; border: 1px solid #AA8150; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_46d16b_hr { background-color: #AA8150; height: 1px; border: none; }
#menu_46d16b_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_46d16b_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_46d16b_entry:hover span { color:#FFFFFF !important; }
		.menu_46d16b_mainMenuEntry { text-align: center; }
		.menu_46d16b_mainMenuEntry:hover {	background-color:#504013; }
		.menu_46d16b_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_46d16b .mobileEntry { display: none; } 
		#menu_46d16b .normalEntry { display: block; } 
		@media only screen and (max-width:370px) { 
			#menu_46d16b .mobileEntry { display: block; } 
			#menu_46d16b .normalEntry { display: none; } 
		}
body { background-color:#DADADA; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_41e58864 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:1514px; max-width:1200px; background:none;  }
#container_41e58864_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#menu_46d16b { vertical-align: bottom; position:relative; display: inline-block; width:98%; height:48px; text-align:left; background-color:#959595;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:85px; height:48px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle4 { font-size:12pt; font-family:Georgia, serif; color:#FFFFFF;  white-space: nowrap; }
.menustyle2 { position:absolute; width:85px; height:48px; left:95px;  }
.menustyle3 { position:absolute; width:85px; height:48px; left:180px;  }
.textstyle5 { font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
#container_304cc980 { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:68%; min-height:1365px; background-color:#FFFFFF;  }
#container_304cc980_padding { margin: 20px 10px 10px 10px;display: block;  }
#img_f13da55 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
.textstyle6 { font-size:16pt; font-family:Georgia, serif; color:#000000; line-height: 1.5;  }
#heading_154e3907 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
.textstyle7 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
.ulstyle1 { margin:0; font-size: 12pt; color:#000000;  }
.textstyle8 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-style:italic; line-height: 1.5;  }
#container_6385801d { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:510px; background:none;  }
#container_6385801d_padding { margin: 20px 10px 10px 10px;display: block;  }
#container_40c8368a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:27px; background-color:#959595;  }
#container_40c8368a_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:15pt; font-family:Georgia, serif; color:#FFFFFF; font-weight:bold;  }
#container_5a4d3624 { vertical-align: top; position:relative; display: inline-block; margin:0px 0px 15px 0px;width:100%; min-height:27px; background-color:#D0D0D0;  }
#container_5a4d3624_padding { margin: 10px; display: block;  }
#youtube_5be0ad15 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:200px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
.textstyle10 { font-size:12pt; font-family:Georgia, serif; color:#000000; font-weight:bold;  }
.textstyle11 { font-size:12pt; font-family:Georgia, serif; color:#000000;  }
#container_6d14fdfd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:27px; background-color:#959595;  }
#container_6d14fdfd_padding { margin: 10px; display: block;  }
#container_169edec1 { vertical-align: top; position:relative; display: inline-block; margin:0px 0px 15px 0px;width:100%; min-height:27px; background-color:#D0D0D0;  }
#container_169edec1_padding { margin: 10px; display: block;  }
#youtube_4d3010c9 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:200px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
.textstyle12 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000;  }
#youtube_43dea141 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:200px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#container_47c2b40a { vertical-align: top; position:relative; display: inline-block; margin:0px 0px 15px 0px;width:100%; min-height:27px; background-color:#D0D0D0;  }
#container_47c2b40a_padding { margin: 10px; display: block;  }
.textstyle13 { text-align:justify; }
.textstyle14 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3a5fa1d1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:122px; background-color:#6A6A6A;  }
#container_3a5fa1d1_padding { margin: 10px; display: block;  }
#container_19b17259 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:114px; background:none;  }
#container_19b17259_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:12pt; font-family:Georgia, serif; color:#FFFFFF; font-style:italic;  }
.textstyle16 { font-size:12pt; font-family:Georgia, serif; color:#FFFFFF;  }
.ulstyle2 { margin:0; font-size: 12pt; color:#7F8D0F;  }
#container_446233ab { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:114px; background:none;  }
#container_446233ab_padding { margin: 10px; display: block;  }
.ulstyle3 { margin:0; font-size: 12pt; color:#FFFFFF;  }
#container_b8c83aa { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:114px; background:none;  }
#container_b8c83aa_padding { margin: 10px; display: block;  }
.textstyle17 { font-size:12pt; font-family:Georgia, serif; color:#FFFFFF; font-style:italic; font-weight:bold;  }
@media only screen and (max-width: 750px)
{
		#container_41e58864 { width:100%;  }
}
@media only screen and (max-width: 650px)
{
		#container_304cc980 { width:99%;  }
		#container_6385801d { width:99%;  }
		#container_19b17259 { width:100%;  }
		#container_446233ab { width:100%;  }
		#container_b8c83aa { width:100%;  }
}
@media only screen and (max-width: 640px)
{
		#container_40c8368a * span { font-size:12pt;  }
		#container_5a4d3624 * span { font-size:11pt;  }
		#container_6d14fdfd * span { font-size:12pt;  }
		#container_169edec1 * span { font-size:11pt;  }
		#container_47c2b40a * span { font-size:11pt;  }
}
